.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.section__vEBk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 115px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__vEBk {
    align-items: center;
    justify-content: center;
  }
}
.columns__r0CpJ {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1150px;
  align-self: auto;
  background: #fffc5d;
  min-width: 0;
  border-radius: 24px;
  padding: 0px 10px;
  margin: 0px auto;
}
.columns__r0CpJ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
.columns__r0CpJ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r0CpJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    padding: 0px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r0CpJ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__lvEi9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lvEi9 {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__uJbXu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: 100%;
  max-width: 572px;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: auto;
  margin-top: 108px;
  min-height: 0;
  padding: 0px 0px 0px 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uJbXu {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
.h2__bDzYo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 565px;
  padding-bottom: 0px;
  color: #8050f2;
  letter-spacing: 0px;
  font-size: 32px;
  font-weight: 700;
  min-width: 0;
  margin: 0px 0px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__bDzYo {
    font-size: 32px;
    max-width: 595px;
  }
}
.text___4IIcS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 565px;
  color: #8050f2;
  line-height: 24px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4IIcS {
    padding-right: 0px;
    max-width: 595px;
    margin: 0px 0px 30px;
  }
}
.button___0Fu4:global(.__wab_instance) {
  max-width: 293px;
  position: relative;
  align-self: flex-start;
  width: 100%;
  min-width: 0;
  margin: 46px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___0Fu4:global(.__wab_instance) {
    align-self: center;
    display: none;
  }
}
.svg__dVuQ4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__b4ZWr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.svg__ptq4N {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__lkS8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lkS8 {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__ksbaq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 437.77px;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ksbaq {
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
}
.img__nfiy2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 457px;
  flex-shrink: 0;
  display: inline-block !important;
}
.img__nfiy2 > picture > img {
  object-fit: cover;
}
.img__nfiy2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.p__x8VPn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 546px;
  color: #00003c;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__x8VPn {
    display: block;
  }
}
.button__hLxat:global(.__wab_instance) {
  max-width: 293px;
  position: relative;
  align-self: flex-start;
  width: 100%;
  min-width: 0;
  margin: 46px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__hLxat:global(.__wab_instance) {
    align-self: center;
    display: flex;
    margin: 20px 0px 0px;
  }
}
.svg__i5HOa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__owWU {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.svg__pEypD {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.section__kN2Oh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 103px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__kN2Oh {
    align-items: center;
    justify-content: center;
  }
}
.columns__ksNil {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1150px;
  align-self: auto;
  min-width: 0;
  padding: 0px 10px;
  margin: 0px auto;
}
.columns__ksNil > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
.columns__ksNil > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ksNil {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    padding: 0px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ksNil > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wKoPh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wKoPh {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__x6Hiv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 572px;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0px 0px 0px 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x6Hiv {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
.h2__cXmMq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 565px;
  color: #8050f2;
  letter-spacing: 0px;
  font-size: 39px;
  min-width: 0;
  margin: 0px 0px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__cXmMq {
    font-size: 32px;
    max-width: 595px;
  }
}
.freeBox__zWiQr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__lyLq0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 56px;
}
.img__lyLq0 > picture > img {
  object-fit: cover;
}
.img__lyLq0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__yLlA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__tPoa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  color: #8050f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}
.text__aYzyK {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  color: #8050f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-top: 12px;
}
.text__ddvxT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 565px;
  color: #8050f2;
  line-height: 20px;
  min-width: 0;
  padding: 0px;
  margin: 38px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ddvxT {
    padding-right: 0px;
    max-width: 595px;
    margin: 0px 0px 30px;
  }
}
.text__q7LiR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  color: #8050f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-top: 31px;
}
.freeBox___13K4B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__ghlE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 32px;
}
.img__ghlE > picture > img {
  object-fit: cover;
}
.img__ghlE > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__f2PJr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__f2PJr > picture > img {
  object-fit: cover;
}
.img__f2PJr > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__q7V8Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__q7V8Y > picture > img {
  object-fit: cover;
}
.img__q7V8Y > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ttdQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__ttdQ > picture > img {
  object-fit: cover;
}
.img__ttdQ > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__so2Qu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__so2Qu > picture > img {
  object-fit: cover;
}
.img__so2Qu > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__fG33 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fG33 {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__wSQf7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 437.77px;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wSQf7 {
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
}
.img__j2WKk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: inline-block !important;
}
.img__j2WKk > picture > img {
  object-fit: cover;
}
.img__j2WKk > .__wab_img-spacer > img {
  object-fit: cover;
}
.p__byyGn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 546px;
  color: #00003c;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__byyGn {
    display: block;
  }
}
.button__pFpsr:global(.__wab_instance) {
  max-width: 293px;
  position: relative;
  align-self: flex-start;
  width: 100%;
  min-width: 0;
  margin: 46px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__pFpsr:global(.__wab_instance) {
    align-self: center;
    display: flex;
    margin: 20px 0px 0px;
  }
}
.svg__yekpO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lkoxn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.svg__fAwB {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.section__ghnVg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 103px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ghnVg {
    align-items: center;
    justify-content: center;
  }
}
.columns__z8CFg {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  max-width: 1150px;
  align-self: auto;
  min-width: 0;
  padding: 0px 10px;
  margin: 0px auto;
}
.columns__z8CFg > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
.columns__z8CFg > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z8CFg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    padding: 0px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z8CFg > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gdrx8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gdrx8 {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__wXiou {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 572px;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0px 0px 0px 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wXiou {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
.h2__avpv1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 565px;
  color: #8050f2;
  letter-spacing: 0px;
  font-size: 32px;
  min-width: 0;
  margin: 0px 0px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__avpv1 {
    font-size: 32px;
    max-width: 595px;
  }
}
.freeBox___35EP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___4FHyz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 56px;
}
.img___4FHyz > picture > img {
  object-fit: cover;
}
.img___4FHyz > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___6HmNr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__vAii3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  color: #8050f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}
.text__cJQo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  color: #8050f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-top: 12px;
}
.text__b5Ppm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 565px;
  color: #8050f2;
  line-height: 20px;
  min-width: 0;
  padding: 0px;
  margin: 38px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b5Ppm {
    padding-right: 0px;
    max-width: 595px;
    margin: 0px 0px 30px;
  }
}
.text__bgYjE {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  color: #8050f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-top: 31px;
}
.freeBox__j32Sx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__kvtOs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 32px;
}
.img__kvtOs > picture > img {
  object-fit: cover;
}
.img__kvtOs > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__p6XlW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__p6XlW > picture > img {
  object-fit: cover;
}
.img__p6XlW > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__lnzF9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__lnzF9 > picture > img {
  object-fit: cover;
}
.img__lnzF9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ufzi5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__ufzi5 > picture > img {
  object-fit: cover;
}
.img__ufzi5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__knMDk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__knMDk > picture > img {
  object-fit: cover;
}
.img__knMDk > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__n36V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__n36V {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__lMkL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 437.77px;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lMkL {
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
}
.img__pdw3C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: inline-block !important;
}
.img__pdw3C > picture > img {
  object-fit: cover;
}
.img__pdw3C > .__wab_img-spacer > img {
  object-fit: cover;
}
.p__j99Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 546px;
  color: #00003c;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__j99Q {
    display: block;
  }
}
.button__w5HoT:global(.__wab_instance) {
  max-width: 293px;
  position: relative;
  align-self: flex-start;
  width: 100%;
  min-width: 0;
  margin: 46px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__w5HoT:global(.__wab_instance) {
    align-self: center;
    display: flex;
    margin: 20px 0px 0px;
  }
}
.svg__tdUiX {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__wzi55 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.svg__eaiDj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.section__kcwUh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 103px 0px 367px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__kcwUh {
    align-items: center;
    justify-content: center;
  }
}
.columns__rbVs7 {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1150px;
  align-self: auto;
  min-width: 0;
  padding: 0px 10px;
  margin: 0px auto;
}
.columns__rbVs7 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
.columns__rbVs7 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rbVs7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    padding: 0px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rbVs7 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__clStw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__clStw {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__baiCe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 572px;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0px 0px 0px 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__baiCe {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
.h2__iVval {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 565px;
  color: #8050f2;
  letter-spacing: 0px;
  font-size: 39px;
  min-width: 0;
  margin: 0px 0px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__iVval {
    font-size: 32px;
    max-width: 595px;
  }
}
.freeBox__meJ4B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__yotyy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 56px;
}
.img__yotyy > picture > img {
  object-fit: cover;
}
.img__yotyy > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__xq7Fe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__hFiSc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  color: #8050f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}
.text___64IkD {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  color: #8050f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-top: 12px;
}
.text__a0XDs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 565px;
  color: #8050f2;
  line-height: 20px;
  min-width: 0;
  padding: 0px;
  margin: 38px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__a0XDs {
    padding-right: 0px;
    max-width: 595px;
    margin: 0px 0px 30px;
  }
}
.text__sxalx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  color: #8050f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-top: 31px;
}
.freeBox__zWwAr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__u0IQ1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 32px;
}
.img__u0IQ1 > picture > img {
  object-fit: cover;
}
.img__u0IQ1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__fq6TU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__fq6TU > picture > img {
  object-fit: cover;
}
.img__fq6TU > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__g6Eh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__g6Eh > picture > img {
  object-fit: cover;
}
.img__g6Eh > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__olBrK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__olBrK > picture > img {
  object-fit: cover;
}
.img__olBrK > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__qdnwM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 27px;
  border-radius: 32px;
}
.img__qdnwM > picture > img {
  object-fit: cover;
}
.img__qdnwM > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__v4Lqk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__v4Lqk {
    justify-content: center;
    align-items: center;
  }
}
.freeBox___0M6X8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 437.77px;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0M6X8 {
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
}
.img__e03G0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: inline-block !important;
}
.img__e03G0 > picture > img {
  object-fit: cover;
}
.img__e03G0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.p___4Eufv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 546px;
  color: #00003c;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p___4Eufv {
    display: block;
  }
}
.button__sEYi3:global(.__wab_instance) {
  max-width: 293px;
  position: relative;
  align-self: flex-start;
  width: 100%;
  min-width: 0;
  margin: 46px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__sEYi3:global(.__wab_instance) {
    align-self: center;
    display: flex;
    margin: 20px 0px 0px;
  }
}
.svg___0SjIs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nt4Uv {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.svg__mQaX {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.footerCreattor:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
