@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_default_styles {
  --mixin-mm9HlM3_dDQ4qh_font-family: "Inter";
  --mixin-mm9HlM3_dDQ4qh_font-size: 16px;
  --mixin-mm9HlM3_dDQ4qh_font-weight: 400;
  --mixin-mm9HlM3_dDQ4qh_font-style: normal;
  --mixin-mm9HlM3_dDQ4qh_color: #535353;
  --mixin-mm9HlM3_dDQ4qh_text-align: left;
  --mixin-mm9HlM3_dDQ4qh_text-transform: none;
  --mixin-mm9HlM3_dDQ4qh_line-height: 1.5;
  --mixin-mm9HlM3_dDQ4qh_letter-spacing: normal;
  --mixin-mm9HlM3_dDQ4qh_white-space: pre-wrap;
  --mixin-mm9HlM3_dDQ4qh_user-select: text;
  --mixin-mm9HlM3_dDQ4qh_text-decoration-line: none;
  --mixin-mm9HlM3_dDQ4qh_text-overflow: clip;
  --mixin-ZKlE6HCZU0j4_d_color: #ff8fac;
  --mixin-ZKlE6HCZU0j4_d_font-weight: 400;
  --mixin-ZKlE6HCZU0j4_d_font-size: 32px;
  --mixin-ZKlE6HCZU0j4_d_line-height: 1;
  --mixin-ZKlE6HCZU0j4_d_letter-spacing: -4px;
  --mixin-ZKlE6HCZU0j4_d_font-family: "Montserrat";
  --mixin-ZKlE6HCZU0j4_d_white-space: pre-wrap;
  --mixin-d9btlil7vtpqV5_font-family: "Montserrat";
  --mixin-d9btlil7vtpqV5_color: #000000;
  --mixin-d9btlil7vtpqV5_font-size: 40px;
  --mixin-d9btlil7vtpqV5_font-weight: 700;
  --mixin-d9btlil7vtpqV5_letter-spacing: -1px;
  --mixin-d9btlil7vtpqV5_line-height: 1.1;
  --mixin-d9btlil7vtpqV5_white-space: pre-wrap;
  --mixin-90cqTzbq_kL0RM_color: #0070f3;
  --mixin-90cqTzbq_kL0RM_white-space: pre-wrap;
  --mixin-xF7cK7a4MXzGPr_font-family: "Montserrat";
  --mixin-xF7cK7a4MXzGPr_color: #000000;
  --mixin-xF7cK7a4MXzGPr_font-size: 18px;
  --mixin-xF7cK7a4MXzGPr_font-weight: 700;
  --mixin-xF7cK7a4MXzGPr_letter-spacing: -0.8px;
  --mixin-xF7cK7a4MXzGPr_line-height: 1.2;
  --mixin-xF7cK7a4MXzGPr_white-space: pre-wrap;
  --mixin-tif0RiU2WK_YRk_font-family: "Inter";
  --mixin-tif0RiU2WK_YRk_color: #000000;
  --mixin-tif0RiU2WK_YRk_font-size: 24px;
  --mixin-tif0RiU2WK_YRk_font-weight: 600;
  --mixin-tif0RiU2WK_YRk_letter-spacing: -0.5px;
  --mixin-tif0RiU2WK_YRk_line-height: 1.3;
  --mixin-tif0RiU2WK_YRk_white-space: pre-wrap;
  --mixin-EIVjuO1gdlVomT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-EIVjuO1gdlVomT_border-bottom-color: #dddddd;
  --mixin-EIVjuO1gdlVomT_border-bottom-style: solid;
  --mixin-EIVjuO1gdlVomT_border-bottom-width: 1px;
  --mixin-EIVjuO1gdlVomT_border-left-color: #dddddd;
  --mixin-EIVjuO1gdlVomT_border-left-style: solid;
  --mixin-EIVjuO1gdlVomT_border-left-width: 1px;
  --mixin-EIVjuO1gdlVomT_border-right-color: #dddddd;
  --mixin-EIVjuO1gdlVomT_border-right-style: solid;
  --mixin-EIVjuO1gdlVomT_border-right-width: 1px;
  --mixin-EIVjuO1gdlVomT_border-top-color: #dddddd;
  --mixin-EIVjuO1gdlVomT_border-top-style: solid;
  --mixin-EIVjuO1gdlVomT_border-top-width: 1px;
  --mixin-EIVjuO1gdlVomT_border-bottom-left-radius: 3px;
  --mixin-EIVjuO1gdlVomT_border-bottom-right-radius: 3px;
  --mixin-EIVjuO1gdlVomT_border-top-left-radius: 3px;
  --mixin-EIVjuO1gdlVomT_border-top-right-radius: 3px;
  --mixin-EIVjuO1gdlVomT_font-family: "Inconsolata";
  --mixin-EIVjuO1gdlVomT_padding-bottom: 1px;
  --mixin-EIVjuO1gdlVomT_padding-left: 4px;
  --mixin-EIVjuO1gdlVomT_padding-right: 4px;
  --mixin-EIVjuO1gdlVomT_padding-top: 1px;
  --mixin-EIVjuO1gdlVomT_white-space: pre-wrap;
  --mixin-bGGJDS5abTeD3b_border-left-color: #dddddd;
  --mixin-bGGJDS5abTeD3b_border-left-style: solid;
  --mixin-bGGJDS5abTeD3b_border-left-width: 3px;
  --mixin-bGGJDS5abTeD3b_color: #888888;
  --mixin-bGGJDS5abTeD3b_padding-left: 10px;
  --mixin-bGGJDS5abTeD3b_white-space: pre-wrap;
  --mixin-d1RF2-MST3rOv0_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-d1RF2-MST3rOv0_border-bottom-color: #dddddd;
  --mixin-d1RF2-MST3rOv0_border-bottom-style: solid;
  --mixin-d1RF2-MST3rOv0_border-bottom-width: 1px;
  --mixin-d1RF2-MST3rOv0_border-left-color: #dddddd;
  --mixin-d1RF2-MST3rOv0_border-left-style: solid;
  --mixin-d1RF2-MST3rOv0_border-left-width: 1px;
  --mixin-d1RF2-MST3rOv0_border-right-color: #dddddd;
  --mixin-d1RF2-MST3rOv0_border-right-style: solid;
  --mixin-d1RF2-MST3rOv0_border-right-width: 1px;
  --mixin-d1RF2-MST3rOv0_border-top-color: #dddddd;
  --mixin-d1RF2-MST3rOv0_border-top-style: solid;
  --mixin-d1RF2-MST3rOv0_border-top-width: 1px;
  --mixin-d1RF2-MST3rOv0_border-bottom-left-radius: 3px;
  --mixin-d1RF2-MST3rOv0_border-bottom-right-radius: 3px;
  --mixin-d1RF2-MST3rOv0_border-top-left-radius: 3px;
  --mixin-d1RF2-MST3rOv0_border-top-right-radius: 3px;
  --mixin-d1RF2-MST3rOv0_font-family: "Inconsolata";
  --mixin-d1RF2-MST3rOv0_padding-bottom: 3px;
  --mixin-d1RF2-MST3rOv0_padding-left: 6px;
  --mixin-d1RF2-MST3rOv0_padding-right: 6px;
  --mixin-d1RF2-MST3rOv0_padding-top: 3px;
  --mixin-d1RF2-MST3rOv0_white-space: pre-wrap;
  --mixin-SXxpo4AVAJO6Ai_display: flex;
  --mixin-SXxpo4AVAJO6Ai_flex-direction: column;
  --mixin-SXxpo4AVAJO6Ai_align-items: stretch;
  --mixin-SXxpo4AVAJO6Ai_justify-content: flex-start;
  --mixin-SXxpo4AVAJO6Ai_list-style-position: outside;
  --mixin-SXxpo4AVAJO6Ai_padding-left: 40px;
  --mixin-SXxpo4AVAJO6Ai_position: relative;
  --mixin-SXxpo4AVAJO6Ai_list-style-type: disc;
  --mixin-SXxpo4AVAJO6Ai_white-space: pre-wrap;
  --mixin-N1NbSG-Gylh5f9_display: flex;
  --mixin-N1NbSG-Gylh5f9_flex-direction: column;
  --mixin-N1NbSG-Gylh5f9_align-items: stretch;
  --mixin-N1NbSG-Gylh5f9_justify-content: flex-start;
  --mixin-N1NbSG-Gylh5f9_list-style-position: outside;
  --mixin-N1NbSG-Gylh5f9_padding-left: 40px;
  --mixin-N1NbSG-Gylh5f9_position: relative;
  --mixin-N1NbSG-Gylh5f9_list-style-type: decimal;
  --mixin-N1NbSG-Gylh5f9_white-space: pre-wrap;
  --mixin-cLaFk633ryBMva_font-family: "Inter";
  --mixin-cLaFk633ryBMva_color: #000000;
  --mixin-cLaFk633ryBMva_font-size: 20px;
  --mixin-cLaFk633ryBMva_font-weight: 600;
  --mixin-cLaFk633ryBMva_letter-spacing: -0.3px;
  --mixin-cLaFk633ryBMva_line-height: 1.5;
  --mixin-cLaFk633ryBMva_white-space: pre-wrap;
  --mixin-FGFI2TDgr1E5ks_font-family: "Inter";
  --mixin-FGFI2TDgr1E5ks_color: #000000;
  --mixin-FGFI2TDgr1E5ks_font-size: 16px;
  --mixin-FGFI2TDgr1E5ks_font-weight: 600;
  --mixin-FGFI2TDgr1E5ks_line-height: 1.5;
  --mixin-FGFI2TDgr1E5ks_white-space: pre-wrap;
  --mixin-QXFaghMSOOiUBm_color: #3291ff;
  --mixin-QXFaghMSOOiUBm_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-mm9HlM3_dDQ4qh_font-family);
  font-size: var(--mixin-mm9HlM3_dDQ4qh_font-size);
  font-weight: var(--mixin-mm9HlM3_dDQ4qh_font-weight);
  font-style: var(--mixin-mm9HlM3_dDQ4qh_font-style);
  color: var(--mixin-mm9HlM3_dDQ4qh_color);
  text-align: var(--mixin-mm9HlM3_dDQ4qh_text-align);
  text-transform: var(--mixin-mm9HlM3_dDQ4qh_text-transform);
  line-height: var(--mixin-mm9HlM3_dDQ4qh_line-height);
  letter-spacing: var(--mixin-mm9HlM3_dDQ4qh_letter-spacing);
  white-space: var(--mixin-mm9HlM3_dDQ4qh_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-ZKlE6HCZU0j4_d_color);
  font-weight: var(--mixin-ZKlE6HCZU0j4_d_font-weight);
  font-size: var(--mixin-ZKlE6HCZU0j4_d_font-size);
  line-height: var(--mixin-ZKlE6HCZU0j4_d_line-height);
  letter-spacing: var(--mixin-ZKlE6HCZU0j4_d_letter-spacing);
  font-family: var(--mixin-ZKlE6HCZU0j4_d_font-family);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-d9btlil7vtpqV5_font-family);
  color: var(--mixin-d9btlil7vtpqV5_color);
  font-size: var(--mixin-d9btlil7vtpqV5_font-size);
  font-weight: var(--mixin-d9btlil7vtpqV5_font-weight);
  letter-spacing: var(--mixin-d9btlil7vtpqV5_letter-spacing);
  line-height: var(--mixin-d9btlil7vtpqV5_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-90cqTzbq_kL0RM_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-xF7cK7a4MXzGPr_font-family);
  color: var(--mixin-xF7cK7a4MXzGPr_color);
  font-size: var(--mixin-xF7cK7a4MXzGPr_font-size);
  font-weight: var(--mixin-xF7cK7a4MXzGPr_font-weight);
  letter-spacing: var(--mixin-xF7cK7a4MXzGPr_letter-spacing);
  line-height: var(--mixin-xF7cK7a4MXzGPr_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-tif0RiU2WK_YRk_font-family);
  color: var(--mixin-tif0RiU2WK_YRk_color);
  font-size: var(--mixin-tif0RiU2WK_YRk_font-size);
  font-weight: var(--mixin-tif0RiU2WK_YRk_font-weight);
  letter-spacing: var(--mixin-tif0RiU2WK_YRk_letter-spacing);
  line-height: var(--mixin-tif0RiU2WK_YRk_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-EIVjuO1gdlVomT_background);
  font-family: var(--mixin-EIVjuO1gdlVomT_font-family);
  border-radius: var(--mixin-EIVjuO1gdlVomT_border-top-left-radius)
    var(--mixin-EIVjuO1gdlVomT_border-top-right-radius)
    var(--mixin-EIVjuO1gdlVomT_border-bottom-right-radius)
    var(--mixin-EIVjuO1gdlVomT_border-bottom-left-radius);
  padding: var(--mixin-EIVjuO1gdlVomT_padding-top)
    var(--mixin-EIVjuO1gdlVomT_padding-right)
    var(--mixin-EIVjuO1gdlVomT_padding-bottom)
    var(--mixin-EIVjuO1gdlVomT_padding-left);
  border-top: var(--mixin-EIVjuO1gdlVomT_border-top-width)
    var(--mixin-EIVjuO1gdlVomT_border-top-style)
    var(--mixin-EIVjuO1gdlVomT_border-top-color);
  border-right: var(--mixin-EIVjuO1gdlVomT_border-right-width)
    var(--mixin-EIVjuO1gdlVomT_border-right-style)
    var(--mixin-EIVjuO1gdlVomT_border-right-color);
  border-bottom: var(--mixin-EIVjuO1gdlVomT_border-bottom-width)
    var(--mixin-EIVjuO1gdlVomT_border-bottom-style)
    var(--mixin-EIVjuO1gdlVomT_border-bottom-color);
  border-left: var(--mixin-EIVjuO1gdlVomT_border-left-width)
    var(--mixin-EIVjuO1gdlVomT_border-left-style)
    var(--mixin-EIVjuO1gdlVomT_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-bGGJDS5abTeD3b_color);
  padding-left: var(--mixin-bGGJDS5abTeD3b_padding-left);
  border-left: var(--mixin-bGGJDS5abTeD3b_border-left-width)
    var(--mixin-bGGJDS5abTeD3b_border-left-style)
    var(--mixin-bGGJDS5abTeD3b_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-d1RF2-MST3rOv0_background);
  font-family: var(--mixin-d1RF2-MST3rOv0_font-family);
  border-radius: var(--mixin-d1RF2-MST3rOv0_border-top-left-radius)
    var(--mixin-d1RF2-MST3rOv0_border-top-right-radius)
    var(--mixin-d1RF2-MST3rOv0_border-bottom-right-radius)
    var(--mixin-d1RF2-MST3rOv0_border-bottom-left-radius);
  padding: var(--mixin-d1RF2-MST3rOv0_padding-top)
    var(--mixin-d1RF2-MST3rOv0_padding-right)
    var(--mixin-d1RF2-MST3rOv0_padding-bottom)
    var(--mixin-d1RF2-MST3rOv0_padding-left);
  border-top: var(--mixin-d1RF2-MST3rOv0_border-top-width)
    var(--mixin-d1RF2-MST3rOv0_border-top-style)
    var(--mixin-d1RF2-MST3rOv0_border-top-color);
  border-right: var(--mixin-d1RF2-MST3rOv0_border-right-width)
    var(--mixin-d1RF2-MST3rOv0_border-right-style)
    var(--mixin-d1RF2-MST3rOv0_border-right-color);
  border-bottom: var(--mixin-d1RF2-MST3rOv0_border-bottom-width)
    var(--mixin-d1RF2-MST3rOv0_border-bottom-style)
    var(--mixin-d1RF2-MST3rOv0_border-bottom-color);
  border-left: var(--mixin-d1RF2-MST3rOv0_border-left-width)
    var(--mixin-d1RF2-MST3rOv0_border-left-style)
    var(--mixin-d1RF2-MST3rOv0_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-SXxpo4AVAJO6Ai_display);
  flex-direction: var(--mixin-SXxpo4AVAJO6Ai_flex-direction);
  align-items: var(--mixin-SXxpo4AVAJO6Ai_align-items);
  justify-content: var(--mixin-SXxpo4AVAJO6Ai_justify-content);
  list-style-position: var(--mixin-SXxpo4AVAJO6Ai_list-style-position);
  padding-left: var(--mixin-SXxpo4AVAJO6Ai_padding-left);
  position: var(--mixin-SXxpo4AVAJO6Ai_position);
  list-style-type: var(--mixin-SXxpo4AVAJO6Ai_list-style-type);
  flex-column-gap: var(--mixin-SXxpo4AVAJO6Ai_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-N1NbSG-Gylh5f9_display);
  flex-direction: var(--mixin-N1NbSG-Gylh5f9_flex-direction);
  align-items: var(--mixin-N1NbSG-Gylh5f9_align-items);
  justify-content: var(--mixin-N1NbSG-Gylh5f9_justify-content);
  list-style-position: var(--mixin-N1NbSG-Gylh5f9_list-style-position);
  padding-left: var(--mixin-N1NbSG-Gylh5f9_padding-left);
  position: var(--mixin-N1NbSG-Gylh5f9_position);
  list-style-type: var(--mixin-N1NbSG-Gylh5f9_list-style-type);
  flex-column-gap: var(--mixin-N1NbSG-Gylh5f9_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-cLaFk633ryBMva_font-family);
  color: var(--mixin-cLaFk633ryBMva_color);
  font-size: var(--mixin-cLaFk633ryBMva_font-size);
  font-weight: var(--mixin-cLaFk633ryBMva_font-weight);
  letter-spacing: var(--mixin-cLaFk633ryBMva_letter-spacing);
  line-height: var(--mixin-cLaFk633ryBMva_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-FGFI2TDgr1E5ks_font-family);
  color: var(--mixin-FGFI2TDgr1E5ks_color);
  font-size: var(--mixin-FGFI2TDgr1E5ks_font-size);
  font-weight: var(--mixin-FGFI2TDgr1E5ks_font-weight);
  line-height: var(--mixin-FGFI2TDgr1E5ks_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_expr_html_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-QXFaghMSOOiUBm_color);
}
